<html>
    <head>
        <title>
            Chat
        </title>
    </head>
    <body>
        <script src="../scripts/jquery-2.0.0.min.js" type="text/javascript"></script>
        <script src="../scripts/jquery.signalR-1.1.1.min.js" type="text/javascript"></script>
        <script src="../signalr/hubs" type="text/javascript"></script>
        <script src="../scripts/chat.min.js" type="text/javascript"></script>
        <h3>Welcome to Chat</h3>
        <div>
            <input type="text" id="msg" />
            <input type="button" id="broadcast" value="broadcast" />
            <ul id="messages"></ul>
        </div>
    </body>
</html>